<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/web-server/public/img/download.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}    
    <p>This site was created by Ashwini. It uses data from mapbox.com and darksky.con</p>
    <img class="portrait" src="img/weather-app-icon.jpg">
    </div>
     {{>footer}}
</body>

</html>